h1 {
 font-family: helvetica, arial, sans-serif;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.sideMenuWrapper {
  width: 20%;
}

.mainContentWrapper {
  width: 80%;
}
